<div class="pull-right">
    <ul class="nav navbar-nav navbar-left">
        {% block _user %}
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title=""><span class="fa fa-user-circle-o"></span>
                        {% if user.first_name %}
                            {{user.first_name }}
                        {% else %}
                            {{user.username}}
                        {% endif %}
                         <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="" href="{% url '' %}" data-toggle="tooltip" title="Update your account details">
                                <i class="fa fa-pencil-square-o "></i><span class="">Account Details</span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="{% url '' %}" data-toggle="tooltip" title="Change Password">
                                <i class="fa fa-key"></i><span class="">Change Password</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url '' %}"><span class="fa fa-sign-out"></span> Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url '' %}"><span class="fa fa-user-plus"></span>&nbsp;Register</a>
                </li>
                <li>
                    <a href="{% url '' %}"><span class="fa fa-sign-in"></span> Login</a>
                </li>
            {% endif %}
        {% endblock _user%}
    </ul>
</div>

