{% load staticfiles %}
{# load custom tags in the helpers app #}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %} {% app_name %} {% endblock title %}</title>
        {% block css %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
            <link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />
            <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        {% endblock css%}
    </head>
    <body>
    <!-- navbar-->
         {% include "shared/_navbarPartial.html" %}
    <!-- end navbar-->
    <!--body content-->
        <div class="container-fluid body-content">
            <!-- messages-->
            {% include "shared/_msgPartial.html" %}
            <!-- end messages-->

            <!-- body content-->
            {% block content %} {% endblock content %}
            <div class="clearfix"></div>
        </div>
    <!--end body content -->
    <!-- footer-->
        {% include "shared/_footerPartial.html" %}
    <!--end footer-->

    <!-- javascript-->
    {% block javascript %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
        <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $("#alert-message").fadeTo(2000, 500).slideUp(500, function(){
                $("#success-alert").slideUp(500);
            });
        });
        </script>
    {% endblock javascript %}
    <!-- page specific js -->
    {% block js %}

    {% endblock js%}
    <!-- end page specific js -->
    <!-- end javascript-->
    </body>
</html>