{% load staticfiles %}
{# load custom tags in the helpers app #}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %} {% app_name %} {% endblock title %}</title>

        {% block css %}
            <link href="{% static 'css/style.css' %}" rel="stylesheet">
        {% endblock css%}
    </head>
    <body>
    <!-- navbar-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="navbar-header">
                             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                             </button>
                            <a class = "navbar-brand" href = "{% url 'home:index'%}">{% app_name %}</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            {% block navbar%}
                                <ul class="nav navbar-nav">
                                    <li>
                                         <a class="" href="{% url 'home:index'%}" data-toggle="tooltip" title="Application Home">
                                             <i class="fa fa-home"></i>
                                             <span class="">HOME</span>
                                         </a>
                                     </li>
                                    <!-- include navbar based on the global template tag 'app_navbar', which render navbar as string  -->
                                    {% app_navbar %}
                                </ul>
                            {% endblock navbar%}

                            <!-- user -->
                            <div class="pull-right">
                                <ul class="nav navbar-nav navbar-left">
                                    {% block _user %}
                                        {% if user.is_authenticated %}:
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title=""><span class="fa fa-user-circle-o"></span>
                                                    {% if user.first_name %}
                                                        {{user.first_name }}
                                                    {% else %}
                                                        {{user.username}}
                                                    {% endif %}
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a class="" href="{% url 'users:update' %}" data-toggle="tooltip" title="Update your account details">
                                                            <i class="fa fa-pencil-square-o "></i>
                                                            <span class="">Account Details</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="" href="{% url 'users:password' %}" data-toggle="tooltip" title="Change Password">
                                                            <i class="fa fa-key"></i>
                                                            <span class="">Change Password</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="{% url 'logout' %}"><span class="fa fa-sign-out"></span> Logout</a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="{% url 'register' %}"><span class="fa fa-user-plus"></span>&nbsp;Register</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'login' %}"><span class="fa fa-sign-in"></span> Login</a>
                                            </li>
                                        {% endif %}
                                    {% endblock _user%}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- end navbar-->

    <!--body content-->
        <div class="container-fluid body-content">
            <!-- messages-->
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert-dismissable alert {% if message.tags %} alert-{{ message.tags }} {% else %} alert-info {% endif %}" id="alert-message">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            <!-- end messages-->
            <div class="clearfix"></div>
            <!-- body content-->
            {% block content %}

            {% endblock content %}
            <div class="clearfix"></div>
        </div>
    <!--end body content -->
    <!-- footer-->
        <div class="footer navbar-fixed-bottom">
            <footer>
                {% block footer %}
                    <p class="text-center" style="margin: 0px 0px 0px 0px;">&copy; {% now "Y" %} - {% app_name %} ({% app_version%}{%if debug %}, <span class="text-danger"><em> &nbsp;{% app_setting_mode %}</em></span> {%endif%}). All Rights Reserved</p>
                {% endblock footer %}
            </footer>
        </div>
    <!--end footer-->

    <!-- javascript-->
    {% block javascript %}

    {% endblock javascript %}
    <!-- page specific js -->
    {% block js %}

    {% endblock js%}
    <!-- end page specific js -->
    <!-- end javascript-->
    </body>
</html>